<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ssm.dufy.dao.StudentResultMapper" >
  <resultMap id="BaseResultMap" type="org.ssm.dufy.entity.StudentInfo">
    <id column="uid" jdbcType="INTEGER" property="uid" />
    <result column="uname" jdbcType="VARCHAR" property="uname" />
    <result column="major" jdbcType="VARCHAR" property="major" />
    <result column="subject" jdbcType="VARCHAR" property="subject" />
    <result column="score" jdbcType="VARCHAR" property="score" />
    <result column="xuefen" jdbcType="VARCHAR" property="xuefen" />
  </resultMap>
  
  <select id="getCount" parameterType="java.util.Map" resultType="int">
    select  count(*) from student_result
  </select> 

   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select *from student_result 
     where 1=1 
     <if test="uname!=null and uname!=null">
     and uname=#{uname}
     </if>
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
     
	  <insert id="addStudent">
	  	insert into student_result(uname,subject,score,xuefen,major)
	  	values(#{uname},#{subject},#{score},#{xuefen},#{major})
	  </insert>
     
</mapper>